.app.light {
  --bg-color: #efe4e4;
  --secondary-color: #efaaaa;
  --primary-color: #ed5151;
  --input-bg-color: #f4d5d5;
  --focus-color: #efaaaa;
  --error-color: #e90f0f;

  // text
  --link-text-color: #073ff6;
  --logo-text-color: #17313e;
  --text-gray-color: #827a7a;
  --text-white-color: #fff;
}
